/* Google fonts imports */

/* Default Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

/* Header Styling */
header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Toggle the nav bar menu */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #252525;
    left: 0;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#menu {
    display: flex;
}

#menu>li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: block;
}

#logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Main Styling */
main {
    /* Make main content take most space and push footer down*/
    flex: 1 0 auto;
    margin-top: 150px;
}

/* Hero section */
#hero{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
}
/* Footer Styling */
#social-networks {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    list-style: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/***************************
        MEDIA QUERIES
**************************/
/* Media query: tablets and larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
        width: fit-content;
    }
    main {
        margin-top: 75px;
    }

    .nav-toggle-label{
        display: none;
    }
}

/* Media query: laptops and larger (992px and above) */
@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}
