/* Google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Default Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

/* Header Styling */
header {
    background-color: aquamarine;
}

h1 {
    font-family: 'oswald', sans-serif;
}

/* Main Styling */
main {
    background-color: beige;
    /* Make main content take most space and push footer down*/
    flex: 1 0 auto;
}

/* Footer Styling */
footer {
    background-color: darksalmon;
}