/* Google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Default Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

/* Header Styling */
header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Toggle the nav bar menu */
nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #252525;
    left: 0;
    display: none;
}

/* Main Styling */
main {
    background-color: beige;
    /* Make main content take most space and push footer down*/
    flex: 1 0 auto;
}

/* Footer Styling */
footer {
    background-color: darksalmon;
}